<div class=""></div>




{% schema %}
{
    "name":"Image-comparison",
    "tag":"section",
    "class": "image-comparison",
    "settings": [
        {
            "type": "image_picker",
            "id": "before_image",
            "label": "Before Image"
        },
        {
            "type": "image_picker",
            "id": "after_image",
            "label": "After Image"
        }
    ]

}

{% endschema %}