<link rel="stylesheet" href="{{'multiple-product-review.css' |  asset_url }}">


<div class="product-container">
  <div class="product-image-section">
    <div class="product-image">
      <img src="https://berlin-lifestyle.myshopify.com/cdn/shop/files/Rectangle28.jpg?v=1690369253&width=2000" alt="product-image" class="product-image">
    </div>
  </div>
  <div class="product-slider-section"></div>
</div>

{% schema %}
  {
    "presets": [
      {
        "name": "Multiple Products Review"
      }
    ]
  }
{% endschema %}