.container {
  max-width: 1840px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section-header_item {
  color: rgb(69, 69, 68);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  text-size-adjust: 100%;
}
.subtitle {
  color: rgb(115, 115, 114);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: 17.4px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.section-header_title {
  color: rgb(35, 35, 34);
  font-size: 39.2px;
  font-weight: 500;
  line-height: 47.04px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  max-width: 100%;
}
.section-header_title_block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.new-arrivals-link {
  border: rgb(35, 35, 34);
}
.new-arrivals-text {
  color: rgb(35, 35, 34);
  display: flex;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 22.5px;
  position: relative;
  text-transform: uppercase;
  word-break: break-word;
  text-underline-offset: 6px;
}
.image-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  /* column-gap: 32px; */
  max-width: 1840px;
  padding: 0 2rem;
  margin: 50px 0;
}

/* Image comparison part */

#page {
  width: 50%;
  height: 100%;
}

/* Our wrapper */
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Our image information */
.before,
.after {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.content-image {
  height: 100%;
}

.after {
  width: 125px;
}

.scroller {
  width: 50px;
  height: 50px;
  position: relative;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}

.scroller:hover {
  opacity: 1;
}

.scrolling {
  pointer-events: none;
  opacity: 1;
  /* // z-index: 1; */
}

.scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.scroller:before,
.scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
}
.scroller:before {
  top: 100%;
}
.scroller:after {
  bottom: 100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller {
  border: 5px solid #fff;
}
.scroller:before,
.scroller:after {
  background: #fff;
}

.scroller-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  fill: black;
}
.product-review-section {
  height: 466.6px;
  width: 50%;
  transition: all 0.25s ease;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-review-wrapper:hover {
  .quick-view-button {
    display: flex;
  }
}
.product-review-wrapper {
  width: 60%;
  height: auto;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.product-review-image {
  height: 100%;
  position: relative;
  display: flex;
}

.product-review-image img {
  object-fit: cover;
  /* object-position: center; */
  width: 100%;
  height: 100%;
}
.quick-view-button {
  display: none;
  position: absolute;
  bottom: 0;
  /* z-index: 10; */
  width: 100%;
  background: none;
  color: white;
  border: none;
  padding: 10px 28px;
  /* border: 2px solid white; */
  font-size: 15px;
  background-color: rgb(46, 46, 46);
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  min-height: 60px;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.25s ease;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.quick-view-button:hover {
  .icon-button-arrow {
    transform: rotate(45deg);
    transition: transform 0.25s ease;
  }
  background-color: black;
}
.product-review-info-title {
  font-size: 16px;
  font-weight: 500;
  color: rgb(35, 35, 34);
  line-height: 19.2px;
}

@media screen and (max-width: 749px) {
  .image-container {
    flex-direction: column;
    height: 100%;
  }
  #page {
    width: 100%;
  }
  .wrapper {
    height: 100vh;
  }
  .product-review-section {
    max-width: 100%;
    margin-right: 0;
  }
  .section-header_title_block {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-header_title {
    font-size: 2.4rem;
  }
}
