.product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image-section {
  width: 50%;
}
.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.product-slider-section {
  width: 50%;
  height: 100%;
  border: 2px solid;
}
